/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

 .container { background: #222; color: #d5d5d5; padding: 0 60px; box-shadow: 0 0 40px -10px rgba(0,0,0,.2); border-radius: 40px; }

