/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { margin: 0 -60px; padding: 17px 60px; border-top: 2px solid #333; background: #252525; border-radius: 0 0 40px 40px; font-size: 14px; }
.footer { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; }
.footer p { color: #ddd; transition: all .3s; opacity: .7; }
.footer a { color: #ddd; transition: all .3s; opacity: .7; }
.footer a:hover { color: #fff; opacity: 1; }

