/* ------------------------------------------------------------ *\
	Section 
\* ------------------------------------------------------------ */

.cols { display: flex; flex-wrap: wrap; margin: 0 -15px; }
.col { width: 100%; padding: 0 15px; }
.col_1of2 { width: 50%; }
.col_1of3 { width: 33.33%; }
.col_2of3 { width: 66.66%; }

